
<app-adminsidebar></app-adminsidebar>
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <h2 style="text-align: center;">View All Products</h2>
      <input type="text" name="search" [(ngModel)]="search" placeholder="search">
      <div class="table-responsive">
        <table class="table table-hover ">
          <thead>
            <tr>
              <th scope="col">S.No</th>
              <th scope="col" (click)="setOrder('name')">Name<span *ngIf="reverse==true">&uarr;</span>
                <span *ngIf="reverse==false">&darr;</span></th>
              <th scope="col">Product Details</th>
              <th scope="col">Manage</th>

            </tr>
          </thead>
          <tbody>
            
            <tr *ngFor="let obj of productArr | orderBy: order:reverse | filter:search ;index as i">
              <th scope="row">{{i}}</th>
              <td>{{obj.name}}</td>
              <td>{{obj.productDetails}}</td>
              <td>
                <button type="button" routerLink="/admin/product/seo/{{obj.url}}" class="btn btn-success">Change Seo</button> &nbsp;&nbsp;
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


