<!-- <section class="newsletter">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10">
                <div class="row newsletter-inner">
                    <div class="col-md-3 my-auto">
                        <img src="assets/Images/newsletter-icon.png" alt="">
                    </div>
                    <div class="col-md-3 my-auto text-center">
                        <span>Sign Up For Daily <br>News & Advice</span>
                    </div>
                    <div class="col-md-6 my-auto bt">
                        <input type="text" name='email' [(ngModel)]='email'>
                        <button class="bt ml-3" (click)="subscribeNews()">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section> -->