<app-adminsidebar></app-adminsidebar>

<div class="container">
    <h1>Add Order Status Page</h1>
<form>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Customer Name</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" placeholder="customername">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Private Notes</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" placeholder="privatenotes">
      </div>
    </div>
    <div class="button">
        <button class="button-1" type="submit">Submit</button> 
    </div>
    </form>
</div>