/* 
.form-row
{
    margin-left: 160px;
    padding-top: 20px;
    margin-right: 140px;
    text-align: center;
}
.form-group
{
    padding: 10px;
    width: 200px;
    text-align: center;
    margin-left: 100px;
}
.input-group
{
    width: 200px;
    padding: 10px;
    margin-left: 330px;

} */