<p>admin-top-selling works!</p>
<h2 style="text-align: center;">Top Selling</h2>
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12">

      <table class="responstable">

        <tr>
          <th>Choose item</th>
          <th data-th="Driver details"><span>Item name</span></th>
          <th>Unit Sold</th>
          <th>Revenue Generated</th>
          <th>lst Purchased</th>
        </tr>

        <tr>
          <td><input type="radio" /></td>
          <td>IWATCH</td>
          <td>2000</td>
          <td>$ 42,000,000</td>
          <td>11-01-2020</td>
        </tr>

        <tr>
          <td><input type="radio" /></td>
          <td>IWATCH</td>
          <td>2000</td>
          <td>$ 42,000,000</td>
          <td>11-01-2020</td>
        </tr>

        <tr>
            <td><input type="radio" /></td>
            <td>IWATCH</td>
            <td>2000</td>
            <td>$ 42,000,000</td>
            <td>11-01-2020</td>
        </tr>

        <tr>
            <td><input type="radio" /></td>
            <td>IWATCH</td>
            <td>2000</td>
            <td>$ 42,000,000</td>
            <td>11-01-2020</td>
        </tr>

      </table>
    </div>
  </div>
</div>
