
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <h2 style="text-align: center;">Header Navigation </h2>

      <form>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="Name"><b>Name</b></label>
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
              <label for="Name"><b>Title</b></label>
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="Name"><b>Url</b></label>
              <input type="text" class="form-control" />
            </div>
          </div>
            
        
          <div class="row">
            <div class="col h">
              <input class="btn btn-primary bt" type="submit" value="Submit">
            </div>
          </div>
       
        

      </form>
    </div>
  </div>
</div>