
.login-form button, .register-form button
{
    background-color: rgb(2,48,35);
    border: solid 1px #fff;
    color: #fff;
    padding: 5px 15px;
    border-radius: 15px;
}


@media only screen and (max-width: 600px){
    h3{
        text-align: center;
    }
    .button{
        display: block;
        width: 100%;
    }
}