
<div class="container">
    <div class="row">
        <div class="col-md-6 mb-5">
            <h3>Forgot Password</h3>
            <hr>
            <form class="login-form">
                <div class="input-group pb-4">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="user-email" type="password" [(ngModel)]="password" class="form-control" name="password"
                        placeholder="Password" required>
                </div>
                <button type="submit" class="btn btn-default button" (click)="forgotPassword()">Submit</button>
            </form>
        </div>
    </div>
</div>