<div class="container col-md-7">
    <table class="start">
        <tr>
            <td class="row1">
                <h1>View Mail Template</h1>
                <img src="assets\img\img4.jpg" style="height:100px; transition: 3s all ease-in-out; -webkit-tap-highlight-color: transparent;" >
            </td>
        </tr>
        <tr>
            <td class="row2">
                <img src="assets\img\img3.jpg" style="width: 500px; height: 300px;">
                <h3>Message</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi repellat, 
                    harum. Quas nobis id aut, aspernatur, sequi tempora laborum corporis cum 
                    debitis, ullam, dolorem dolore quisquam aperiam! Accusantium, ullam, 
                    nesciunt. 
                </p>
            </td>
        </tr>
        <tr>
            <td class="row3">
                <button type="button">Button</button>
            </td>
        </tr>
    </table>
</div>
