<table class="container col-md-7">
    <tr>
        <td class="row-1">
            <h2> Set Thankyou message </h2>
        </td>
    </tr>
    <tr>

        <td class="row-2">
            <h2><b>Thankyou</b></h2>
            <div class="row">
                    <div class="col-md-9">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Thankyou" /> 
                        </div>
                    </div>
                </div>       
        </td>
    </tr>
    <tr>
        <td class="row-3">
            <button type="button">Click</button>
        </td>
    </tr>
</table>