<table class="container col-md-7">
    <tr>
        <td class="row-1">
            <h2>Set Message Order status emails</h2>
        </td>
    </tr>
    <tr>
        <td class="row-2">
            <h2><b>Message</b></h2>
                <div class="row">
                    <div class="col-md-9 ">
                        <div class="input-group" style="text-align: center;">
                            <input type="text" class="form-control" placeholder="Message" /> 
                        </div>
                    </div>
                </div>       
        </td>
    </tr>
    <tr>
        <td class="row-3">
            <button type="button">Click</button>
        </td>
    </tr>
</table>