<app-homepage-header></app-homepage-header>
<!-- <app-userheader></app-userheader> -->

<section class="store-locator pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="state-selector">
                            <div class="input-group form-group">
                                <select class="custom-select" id="">
                                    <option selected>Select State</option>
                                    <option value="1">State 1</option>
                                    <option value="2">State 2</option>
                                    <option value="3">State 3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="city-selector">
                            <div class="input-group form-group">
                                <select class="custom-select" id="">
                                    <option selected>Select City</option>
                                    <option value="1">City 1</option>
                                    <option value="2">City 2</option>
                                    <option value="3">City 3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center pt-3 pb-3">
            <div class="col-lg-5">
                <div class="location-card p-3 mb-4">
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <img src="../../../assets/Images/store-thumb.png" class="img-fluid" alt="Responsive Image">
                        </div>
                        <div class="col-lg-6 mb-4">
                            <img src="../../../assets/Images/location-thumb.png" class="img-fluid"
                                alt="Responsive Image">
                        </div>
                        <div class="col-lg-12 pt-3">
                            <h4>Delhi</h4>
                            <p>Address XYZ-00000 <br>Store Time: <br> Monday to Friday: 11:30 AM - 9:30 PM <br>Saturday
                                & Sunday: 11:00 AM - 10:00 PM</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="location-card p-3 mb-4">
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <img src="../../../assets/Images/store-thumb.png" class="img-fluid" alt="Responsive Image">
                        </div>
                        <div class="col-lg-6 mb-4">
                            <img src="../../../assets/Images/location-thumb.png" class="img-fluid"
                                alt="Responsive Image">
                        </div>
                        <div class="col-lg-12 pt-3">
                            <h4>Delhi</h4>
                            <p>Address XYZ-00000 <br>Store Time: <br> Monday to Friday: 11:30 AM - 9:30 PM <br>Saturday
                                & Sunday: 11:00 AM - 10:00 PM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center pt-3">
            <div class="col-lg-5">
                <div class="location-card p-3 mb-4">
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <img src="../../../assets/Images/store-thumb.png" class="img-fluid" alt="Responsive Image">
                        </div>
                        <div class="col-lg-6 mb-4">
                            <img src="../../../assets/Images/location-thumb.png" class="img-fluid"
                                alt="Responsive Image">
                        </div>
                        <div class="col-lg-12 pt-3">
                            <h4>Delhi</h4>
                            <p>Address XYZ-00000 <br>Store Time: <br> Monday to Friday: 11:30 AM - 9:30 PM <br>Saturday
                                & Sunday: 11:00 AM - 10:00 PM</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="location-card p-3 mb-4">
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <img src="../../../assets/Images/store-thumb.png" class="img-fluid" alt="Responsive Image">
                        </div>
                        <div class="col-lg-6 mb-4">
                            <img src="../../../assets/Images/location-thumb.png" class="img-fluid"
                                alt="Responsive Image">
                        </div>
                        <div class="col-lg-12 pt-3">
                            <h4>Delhi</h4>
                            <p>Address XYZ-00000 <br>Store Time: <br> Monday to Friday: 11:30 AM - 9:30 PM <br>Saturday
                                & Sunday: 11:00 AM - 10:00 PM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-user-letter></app-user-letter>
<app-user-foooter></app-user-foooter>