<app-adminsidebar></app-adminsidebar>
<div class="container pb-3">
  <div class="row" style="background-color: #F6F6F6;">
    <div class="col-lg-12 col-md-12">
      <h2 style="text-align: center;">Create category</h2>
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="Name"><b>Name</b></label>
            <input type="text" class="form-control" name="name" [(ngModel)]="name" />
          </div>
          <div class="form-group col-md-6">
            <label for="Discription"><b>Description</b></label>
            <input type="Discription" class="form-control" name="description" [(ngModel)]="description" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            
<label for="basic-url"><b>Url</b></label>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">https://nsuperfood.in/category/<span *ngIf="parentCategory!=''"> {{tempCategory.url}}/</span>  </span>
  </div>
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name='url' [(ngModel)]='url' >
</div>
          </div>
          <div class="form-group col-md-6">
            <label for="exampleFormControlSelect1"><b>Parent Category</b></label>
            <select class="form-control" id="exampleFormControlSelect1" name="parentCategory"
              [(ngModel)]="parentCategory" (change)="setCategory()" [value]="parentCategory">
              <option value="" selected>No Parent Category</option>
              <option *ngFor="let obj of finalParentCategoryArr">{{obj.name}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-success" (click)="createCategory()">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>



<app-adminviewcategorydetails></app-adminviewcategorydetails>
