<router-outlet></router-outlet>
<!-- <app-user-checkout></app-user-checkout> -->
<!-- <app-user-checkout></app-user-checkout> -->
<!-- <app-userheader></app-userheader> -->
<!-- <app-userorder-history></app-userorder-history> -->
<!-- <app-userorder-details></app-userorder-details> -->
<!-- <app-user-product-details></app-user-product-details> -->
<!-- <app-user-cart></app-user-cart> -->
<!-- <app-user-products></app-user-products> -->
<!-- <app-user-contact-us></app-user-contact-us> -->
<!-- <app-user-our-philosophy></app-user-our-philosophy> -->
<!-- <app-user-our-journey></app-user-our-journey> -->
<!-- <app-user-homepage></app-user-homepage> -->
<!-- <app-user-checkout></app-user-checkout> -->
<!-- <app-user-store-locator></app-user-store-locator> -->


<!-- <app-user-foooter></app-user-foooter> -->
<!-- <app-user-homepage></app-user-homepage> -->
<!-- <app-user-letter></app-user-letter> -->

<!-- <app-user-homepage></app-user-homepage> -->
<!-- <app-user-product-details></app-user-product-details> -->
<!-- <app-user-cart></app-user-cart> -->
<!-- <app-user-products></app-user-products> -->
<!-- <app-user-contact-us></app-user-contact-us> -->
<!-- <app-user-our-philosophy></app-user-our-philosophy> -->
<!-- <app-user-our-journey></app-user-our-journey> -->
<!-- <app-user-homepage></app-user-homepage> -->

<!-- <app-my-account></app-my-account> -->
<!-- <app-my-account-address></app-my-account-address> -->

<!-- <app-add-order-status></app-add-order-status> -->
<!-- 
<app-add-order-status></app-add-order-status> -->
