<h2>Email config</h2>

<div class="container">
  <div class="row" style="background-color: #F6F6F6;">
    <div class="col-lg-12 col-md-12">
      <h2 style="text-align: center;">Email Config</h2>

      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="serverName"><b> Server Name</b></label>
            <input type="text" class="form-control" placeholder="Server Name"/>
          </div>
          <div class="form-group col-md-6">
            <label for="serverPort"><b>Server Port</b></label>
            <input type="serverPort" class="form-control" placeholder="Server Port"/>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="userName"><b>User Name</b></label>
            <input type="userName" class="form-control" placeholder="User Name" />
          </div>
          <div class="form-group col-md-6">
            <label for="exampleInputPassword1"
              ><b>Password</b></label
            >
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Password"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="enableSsl"><b>Enable SSL</b></label>
            <input type="text" class="form-control" placeholder="Enable SSL"/>
          </div>
          <div class="form-group col-md-6">
            <label for="exampleInputEmail1"
              ><b>Email</b>
            </label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter email"
            />
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-success">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
