<app-homepage-header></app-homepage-header>
<app-userheader></app-userheader>
<section class="bt">
    <!-- brand-story-start -->
    <div class="about-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="about-wrapper mb-30">
                        <div class="section-title">
                            <h1 class="hb">Brand Story</h1>
                        </div>
                        <div class="about-text mb-30">
                            <p> Engineered by a sales professional with a keen interest in personal care products, Wild
                                Organic was established in late December 2018. Mr. Jitendra realised that these current
                                products are not the ones he wishes to use. Enlightened by this learning he has launched
                                an organic skincare brand named Wild Organic that produces products made with natural
                                substances. All Wild Organic products are free from SLS/SLES, Sulphates, Artificial
                                preservatives & fragrances.
                                Wild Organic in its purest version is one step closer towards the mother’s nature and
                                further steps away from all chemically infused goods. It’s a small endeavour in calling
                                off all the “toxins” and leading a healthy yet affordable lifestyle.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-sm-6">
                    <div class="about-wrapper d-flex justify-content-center">
                        <img src="../../../assets/Images/journey-quote.png" height="380px" class="quote"
                            alt="Responsive Image">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 text-right">
                    <div class="about-wrapper d-flex justify-content-center">
                        <img src="../../../assets/Images/journey-flower.png" height="300px" alt="Responsive Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-user-letter></app-user-letter>
<app-user-foooter></app-user-foooter>