<div class="container col-md-7">
    <h1>View Discount Page</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Sr. No.</th>
        <th scope="col">Name</th>
        <th scope="col">Discount Code</th>
        <th scope="col">Choose
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <th scope="col"><button type="button" class="button-1">Update details</button>
            <button type="button" class="button-2">Delete details</button></th>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <th scope="col"><button type="button" class="button-1">Update details</button>
            <button type="button" class="button-2">Delete details</button></th>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <th scope="col"><button type="button" class="button-1">Update details</button>
            <button type="button" class="button-2">Delete details</button></th>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <th scope="col"><button type="button" class="button-1">Update details</button>
            <button type="button" class="button-2">Delete details</button></th>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <th scope="col"><button type="button" class="button-1">Update details</button>
            <button type="button" class="button-2">Delete details</button></th>
      </tr>
    </tbody>
  </table>
</div>  