<div class="container">
    <div class="row`">
        <h2 class="header">Add Images</h2>
    </div>
    <div class="row input">
        <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
            </div>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile01"
                aria-describedby="inputGroupFileAddon01">
              <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
          </div>
    </div>
    <div class="row">
    <div class="col-md-3 col-lg-3">
      <div class="img-thumbnail image embed-responsive">
        <img src="assets/pic.jpg" alt="Lights" style="width:100%">
        <div class="caption">
          <p>1...</p >
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3">
      <div class="img-thumbnail image embed-responsive">
        <img src="assets/pic.jpg" alt="Nature" style="width:100%">
        <div class="caption">
          <p>2...</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3">
      <div class="img-thumbnail image embed-responsive">
        <img src="assets/pic.jpg" alt="Fjords" style="width:100%">
        <div class="caption">
          <p>3...</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3">
        <div class="img-thumbnail image embed-responsive">
          <img src="assets/pic.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>4...</p>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-lg-3">
      <div class="img-thumbnail image embed-responsive">
        <img src="assets/pic.jpg" alt="Lights" style="width:100%">
        <div class="caption">
          <p>5...</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3">
      <div class="img-thumbnail image embed-responsive">
        <img src="assets/pic.jpg" alt="Nature" style="width:100%">
        <div class="caption">
          <p>6..</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3">
      <div class="img-thumbnail image embed-responsive">
        <img src="assets/pic.jpg" alt="Fjords" style="width:100%">
        <div class="caption">
          <p>7...</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3">
        <div class="img-thumbnail image embed-responsive">
          <img src="assets/pic.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>8...</p>
          </div>
        </div>
      </div>
  </div>
</div>