<div class="conatiner">
  <div class="row">
    <div class="col-mg-12 col-lg-12 header">
      <h2><b>Blog Page with Details</b></h2>
    </div>
  </div>
  <div class="row">

  </div>
  <div class="row">
    <div class="col heading">
      <h3><b>Blog Heading</b></h3>
      <input type="text" class="form-control" placeholder="BlogHeading">
    </div>
    <div class="col heading">
      <h3><b>Blog Author</b></h3>
      <input type="text" class="form-control" placeholder="Blog Auhor">
    </div>
  </div>
  <div class="row">
    <div class="col heading">
      <h3><b>Blog Description</b></h3>
      <input type="text" class="form-control fm" placeholder="Blog Description">
    </div>
  </div>
  <div class="row">
    <div class="col header">
      <form class="form-inline">
        <label class="my-1 mr-2" for="inlineFormCustomSelectPref"><h4><b>Select Product</b></h4></label>
        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
          <option selected>Choose</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col bt">
      <button type="submit" class="btn btn-success header">Submit</button>
    </div>
  </div>
</div>
