<div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 header">
        <h2>Attach blog to the product Page</h2>
          
        <form>
            <div class="row">
                <div class="col header">
                  <form class="form-inline">
                    <label class="my-1 mr-2" for="inlineFormCustomSelectPref"><h4><b>Attach to Product</b></h4></label>
                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                      <option selected>Choose</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </form>
                </div>
              </div>
            <div class="form-row">
            <div class="form-group col-md-12">
              <label for="Name"><b>URL</b></label>
              <input type="url" class="form-control" />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="Name"><b>Meta Tag Name</b></label>
              <textarea class="form-control" rows="3" placeholder="Meta Tag Name" required></textarea>
            </div>
          </div>
          <div class="form-row">
              <div class="form-group col-md-12">
                <label for="Name"><b>Meta Tag Container</b></label>
                <textarea class="form-control" rows="3" placeholder="Meta Tag Container" required></textarea>
              </div>
            </div>
                   
          
  
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12 bt">
        <button type="submit" class="btn badge-success">Submit</button>
      </div>
    </div>
  </div>