<app-homepage-header></app-homepage-header>
<!-- <app-userheader></app-userheader> -->

<section class="pt-3 d-flex justify-content-center">
    <div class="container" *ngIf="userObj && finalObj">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 text-center">
                <h5 class="text-uppercase">Order Details</h5>
                <hr style="background-color: rgb(11,95,49)">
            </div>
            <div class="col-md-3 pt-3">
                <div class="row name-box pt-3 pb-3">
                    <div class="col-md-3 text-center my-auto">
                        <img src="assets/Images/user-profile.png" alt="user-profile" width="40px">
                    </div>
                    <div class="col-md-9 my-auto">
                        <span style="color: #fff;">Hello,</span>
                        <h5 style="color: rgb(247,228,127);">{{userObj.firstname}}</h5>
                    </div>
                </div>
                <div class="row user-dashboard-navigation mt-4">
                    <div class="col-md-12">
                        <div class="row pt-4 pb-2">
                            <div class="col-md-3 text-center my-auto">
                                <img src="assets/Images/order-icon.png" alt="order-icon" width="30px">
                            </div>
                            <div class="col-md-7 my-auto">
                                <a routerLink="/user/orderHistory">
                                    <h6 class="text-uppercase m-0" style="color: rgb(247,228,127);"><b>My Orders</b>
                                    </h6>
                                </a>
                            </div>
                            <div class="col-md-2 my-auto">
                                <img src="assets/Images/right-arrow.png" alt="right-arrow" width="12px">
                            </div>
                            <div class="col-md-12">
                                <hr style="background-color: rgb(247,228,127)">
                            </div>
                        </div>
                        <div class="row pt-2 pb-2">
                            <div class="col-md-3 text-center">
                                <img src="assets/Images/account-icon.png" alt="account-icon" width="30px">
                            </div>
                            <div class="col-md-9">
                                <h6 class="text-uppercase" style="color: rgb(247,228,127)">Account Settings</h6>
                                <a routerLink="/user/myAccount">
                                    <h6 style="color: #fff">Profile Information</h6>
                                </a>
                                <a routerLink="/user/manageAddress">
                                    <h6 style="color: #fff">Manage Address</h6>
                                </a>
                            </div>
                            <div class="col-md-12">
                                <hr style="background-color: rgb(247,228,127)">
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div class="col-md-3 text-center my-auto">
                                <img src="assets/Images/logout-icon.png" alt="logout-icon" width="30px">
                            </div>
                            <div class="col-md-9 my-auto">
                                <a (click)="logout()">
                                    <h6 class="text-uppercase m-0" style="color: rgb(247,228,127)">Logout</h6>
                                </a>
                            </div>
                            <div class="col-md-12">
                                <hr style="background-color: rgb(247,228,127)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 offset-md-1  my-auto">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="timeline">
                            <li *ngFor="let obj of finalObj.orderStatusRecord;index as i "
                                [class.done]="i==(finalObj.orderStatusRecord.length-1)"><b>{{obj}}</b></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-auto pt-3">
                <div class="row">
                    <div class="col-md-12 pt-1 pb-1 order-details-card">
                        <div class="row">
                            <div class="col-md-12 ml-4">
                                <span>Order ID - {{orderId}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4 ml-4">
                                        <img src="{{imgurl}}/uploads/{{finalObj.productImage}}" alt="onion-oil.png">
                                    </div>
                                    <div class="col-md-8 my-auto ml-4">
                                        <h5>{{finalObj.productName}}</h5>
                                        <span>{{finalObj.listPrice | currency:'INR'}}</span>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="col-md-12 text-center">
                                <span class="order-subtotal">Total:
                                    {{finalObj.listPrice + finalObj.shippingPrice | currency:'INR'}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 pt-1 pb-1 mt-4 shipping-address-card">
                        <div class="ml-4">Delivery Address</div>
                        <div>
                            <h5 class="m-0 ml-4"><strong>{{finalObj.address.firstname}}</strong></h5>
                            <address class="ml-4">{{finalObj.address.address.address1}},
                                {{finalObj.address.address.address2}} <br>
                                {{finalObj.address.address.city}}, {{finalObj.address.address.state}} -
                                {{finalObj.address.address.zipCode}} <br>
                                {{finalObj.address.phone}}</address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-user-letter></app-user-letter>
<app-user-foooter></app-user-foooter>