*
{
    margin: 0px;
    padding: 0px;
}

/* @font-face
{
    font-family: 'FuturaHeavy';
    src: url('../fonts/futura-hv-bt-heavy.ttf');
}

@font-face
{
    font-family: 'FuturaBook';
    src: url('../fonts/futura-book-bt.ttf');
}

@font-face
{
    font-family: 'FuturaMedium';
    src: url('../fonts/futura-md-bt-medium.ttf');
} */

.regular-font
{
    font-family: 'FuturaBook';
}

.medium-font
{
    font-family: 'FuturaMedium';
}

.heavy-font
{
    font-family: 'FuturaHeavy';
}

::-webkit-scrollbar
{
	width: 12px;
}

::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb
{
	background-color: #c8a23d;
	background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    border-radius: 10px;
}

body
{
    font-family: 'FuturaBook';
}

img 
{
    max-width: 100%;
    height: auto;
}


.diff-heading, .best-heading
{
    font-size: 50px;
}

/* .diff-content, .best-content
{
    font-size: ;
} */



/* Checkout Page */
.checkoutbg
{
    height: 550px;
    background-image: url('../../../assets/Images/checkout-header.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* My Account Page */
.myaccountbg
{
    height: 550px;
    background-image: url('../../../assets/Images/my-account-header.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.name-box, .user-dashboard-navigation
{
    background: rgb(11,95,49);
    background: radial-gradient(circle, rgba(11,95,49,1) 0%, rgba(2,48,35,1) 100%);
    border-radius: 10px;
}

.active-account-tab
{
    background-color: rgb(13, 110, 74);
    padding: 5px;
    border-radius: 5px;
}

#first-name, #last-name, #user-email, #user-phone
{    
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #cee0bf;
    padding: 3px 10px;
}

.user-details h5
{
    color: rgb(2,48,35);
}

.user-details a
{
    text-decoration: none;
    color: rgb(11,95,49);
}

#user-name, #user-phone, #user-pincode, #user-email, #user-address, #user-city, #user-state, #user-landmark, #user-locality, #user-password, #repassword
{    
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #cee0bf;
    padding: 3px 10px;
}

.user-details button
{
    background-color: rgb(2,48,35);
    color: #fff;
    padding: 5px 15px;
    border-radius: 15px;
}

/* Login/SignUp */
.loginbg
{
    height: 550px;
    background-image: url('../../../assets/Images/login-header.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.login-form button, .register-form button
{
    background-color: rgb(2,48,35);
    color: #fff;
    padding: 5px 15px;
    border-radius: 15px;
}

.single-order-card
{
    background-color: #d3f0b9;
    padding: 10px 15px 30px 25px;
    border-left: solid 5px;
}

.order-status
{
    padding-bottom: 5px;
}

.order-display
{
    background-color: #ebffd9;
    border-radius: 10px;
}

.track-order-btn button
{
    background-color: rgb(2,48,35);
    padding: 5px 15px;
    border-radius: 15px;
    border: none;
}

.track-order-btn button a
{
    color: #fff;
    text-decoration: none;
    border: none;
}

.order-details-btn button
{
    background-color: #ebffd9;
    padding: 5px 15px;
    border-radius: 15px;
    border: none;
}

.order-details-btn a
{
    color: #9ea0a3;
    text-decoration: none;
}

.get-invoice-btn a
{
    color: #105431;
    font-weight: bold;
    text-decoration: none;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: rgb(2,48,35);
    display: inline-block;
    position: absolute;
    left: 30px;
    width: 5px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 50px;
    padding-bottom: 50px;
}

ul.timeline > li:last-child
{
    padding-bottom: 0px;
}

ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 5px solid rgb(2,48,35);
    left: 20px;
    width: 25px;
    height: 25px;
    z-index: 400;
}

ul.timeline > .done:before {
    background: rgb(2,48,35);
}

.order-subtotal
{
    font-size: 20px;
}

.order-details-card, .shipping-address-card
{
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.order-details-card hr
{
    border: solid 1px rgb(2,48,35);
}

