.table-hover tbody tr:hover > td {
    background-color: rgb(81, 248, 81);
  }
  .table-hover tbody tr:hover > th {
    background-color: rgb(81, 248, 81);
  }  
  .btn-info{
      background-color: rgb(45, 199, 45)!important;
  }
  