<div class="container">
    <h1>View All Orders Page</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col-sm">Sr. No.</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Private Notes</th>
        <th scope="col">Choose
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>fvnbgbedgjkhgjkdtkvbfdgb</td>
        <th scope="col">
            <button type="button" class="button">View Details</button>
            <button type="button" class="button-1">Update Order Status</button>
            <button type="button" class="button-2">Add Private Notes</button>
        </th>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Mark</td>
        <td>fvnbgbedgjkhgjkdtkvbfdgb</td>
        <th scope="col">
            <button type="button" class="button">View Details</button>
            <button type="button" class="button-1">Update Order Status</button>
            <button type="button" class="button-2">Add Private Notes</button>
        </th>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Mark</td>
        <td>fvnbgbedgjkhgjkdtkvbfdgb</td>
        <th scope="col">
            <button type="button" class="button">View Details</button>
            <button type="button" class="button-1">Update Order Status</button>
            <button type="button" class="button-2">Add Private Notes</button>
        </th>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Mark</td>
        <td>fvnbgbedgjkhgjkdtkvbfdgb</td>
        <th scope="col">
            <button type="button" class="button">View Details</button>
            <button type="button" class="button-1">Update Order Status</button>
            <button type="button" class="button-2">Add Private Notes</button>
        </th>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Mark</td>
        <td>fvnbgbedgjkhgjkdtkvbfdgb</td>
        <th scope="col">
            <button type="button" class="button">View Details</button>
            <button type="button" class="button-1">Update Order Status</button>
            <button type="button" class="button-2">Add Private Notes</button>
        </th>
      </tr>
    </tbody>
  </table>
</div>  