.bg{
    background: url('../../../assets/leaves.jpg') no-repeat;
    width: 100%;
    height: 100vh;

}
.form-container{
    border: 1px solid;
    border-color: #fff;
    padding: 50px 60px;
    margin-top: 80px;
    -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    filter: blur(0px);
}
.form-control:focus {
    border-color: #C9A43F !important;
    box-shadow: 0 0 0 0.2rem #C9A43F !important;
  }
  .blurClass{
    filter: blur(1px);

  }